<section id="featured">
  <article>
    <div>
      <h2><%= t('featured.headline') %></h2>
      <p><%= t('featured.teaser') %></p>
      <br />
      <h2><%= t('featured.sub_headline') %></h2>
      <ul>
        <li><%= t('featured.list_item_1') %></li>
        <li><%= t('featured.list_item_2') %></li>
        <li><%= t('featured.list_item_3') %></li>
        <li><%= t('featured.list_item_4') %></li>
      </ul>
    </div>
    <figure><img src="/images/schaedel_4_2_klein_wd.png" alt="Placeholder" width="550" height=""></figure>
  </article>
</section>
<section id="content">
  <div class="cols-c">
    <section>
      <figure class="image-c"><img src="/images/pionira-diy.jpg" alt="Placeholder" width="130"></figure>
      <p style="margin-top: 15px;"><%= t('content.diy_teaser') %></p>
      <div class="double-a">
        <div class="news-c">
          <h3><%= t('content.benefits') %></h3>
          <ul>
            <li><%= t('content.benefits_item_1') %></li>
            <li><%= t('content.benefits_item_2') %></li>
            <li><%= t('content.benefits_item_3') %></li>
            <li><%= t('content.benefits_item_4') %></li>
          </ul>
        </div>
        <div>
          <h3><%= t('content.tasks') %></h3>
          <ul>
            <li><%= t('content.tasks_item_1') %></li>
            <li><%= t('content.tasks_item_2') %></li>
            <li><%= t('content.tasks_item_3') %></li>
          </ul>
        </div>
      </div>
    </section>
    <aside class="news-d">
      <h2>Workflow</h2>
      <article>
        <figure><img src="/images/pionira-1st.png" alt="Placeholder" width="80" height="75"></figure>
        <h3><%= t('workflow.step_1') %></h3>
        <p><%= t('workflow.item_1') %></p>
      </article>
      <article>
        <figure><img src="/images/pionira-2nd.png" alt="Placeholder" width="80" height="75"></figure>
        <h3><%= t('workflow.step_2') %></h3>
        <p><%= t('workflow.item_2') %></p>
      </article>
      <article>
        <figure><img src="/images/pionira-3rd.png" alt="Placeholder" width="80" height="75"></figure>
        <h3><%= t('workflow.step_3') %></h3>
        <p><%= t('workflow.item_3') %></p>
      </article>
      <article>
        <figure><img src="/images/pionira-3rd.png" alt="Placeholder" width="80" height="75"></figure>
        <h3><%= t('workflow.step_4') %></h3>
        <p><%= t('workflow.item_4') %></p>
      </article>
      <article>
        <figure><img src="/images/pionira-3rd.png" alt="Placeholder" width="80" height="75"></figure>
        <h3><%= t('workflow.step_5') %></h3>
        <p><%= t('workflow.item_5') %></p>
      </article>
    </aside>
  </div>
</section>
