<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>PIONIRA-Medical</title>
		<meta name="description" content="Der Service der Pionira Medical GmbH ermöglicht es Ihnen erstmals patienten-individuelle Kranioplastie-Implantate selber unter sterilen Bedingungen im OP zu formen.">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/javascript/head.js"></script>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald:400,700" media="screen">
		<link rel="stylesheet" type="text/css" href="/styles/screen.css" media="screen">
		<link rel="stylesheet" type="text/css" href="/styles/print.css" media="print">
    <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="root">
			<header id="top">
				<h1><%= link_to root_url do %><img src="/images/pionira-logo.png" alt="Placeholder" width="300" height=""><% end %></h1>
				<nav id="nav">
					<ul class="secondary">
						<li><%= link_to t('header.start'), root_url %></li>
						<li><%= link_to t('header.corona_schnelltests'), 'https://pionira-medical-gmbh.myshopify.com/products/watmind-sars-cov-2-ag-diagnostic-test-kit-colloidal-gold' %></li>
						<li><%= link_to t('header.about_us'), about_url %></li>
            			<li><%= link_to t('header.contact'), contact_url %></li>
            			<li><%= switch_locale %></li>
					</ul>
				</nav>
				<form action="./" method="post" id="search">
					<fieldset>
						<p><%= t('header.contact_us') %> <a class="email">info//pionira-medical/com</a></p>
					</fieldset>
				</form>
			</header>
      <%= yield %>
			<footer id="footer">
				<nav>
					<div class="vcard">
						<h3 class="fn org">PIONIRA Medical GmbH</h3>
						<p class="adr"><span class="street-address">Lützelsachsener Str. 14/2</span>, <span class="locality">69469</span> <span class="region">Weinheim</span>, <span class="country-name">Germany</span></p>
						<ul>
							<li style="padding-left: 0px;">Registergericht Mannheim HRB 718374</li>
							<li class="tel">+49 6201 8462592</li>
							<li class="mail"><a class="email">info//pionira-medical/com</a></li>
						</ul>
					</div>
				</nav>
				<p>Copyright <span class="date">2014</span> &copy; <%= link_to 'PIONIRA Medical GmbH', root_url %> All Rights Reserved.</p>
			</footer>
		</div>
	</body>
</html>
